/*
    PAGE FLOW
*/

.videos {
    width: 666px;
    position: relative;
    z-index: 20;
}

.videoContainer {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 6px;
    float: left;
    
    border: 2px solid white;
    background-color: #ccc;
}

.videoContainer:hover {
    border: 2px solid #ccc;
}

/* first element in every row */
.videoContainer:nth-child(4n - 3) {
    margin-left: 0;
}

/* last element in every row */
.videoContainer:nth-child(4n) {
    margin-right: 0;
}

.video {
    width: 150px;
    height: 150px;
    position: relative;
    top:0;
    left: 0;
}

.videoLink {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /*background-color: red;*/
}

.videoThumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
}

.videoTile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.videoTile,
.videoThumb {
    transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -moz-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -webkit-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -o-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
}

.choices {
    position: relative;
    width: 168px;
    float: right;   
    margin: -2150px -213px 0 0;
    padding: 5px;
    z-index: 10;
    background-color: #e3e3e3;
}

.choices h2 {
    font-size: 11px;
    color: #ed1c24;
    text-transform: uppercase;
    text-align: center;
    margin: 4px auto;
}

.choice {
    position: relative;
    display: block;
    width: 158px;
    /*height: 42px;*/
    padding: 4px 0;
    border-bottom: 1px solid #b9b9b9;
}

.choice:last-child {
    border-bottom: none;
}

.choiceDrop {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
/*    border: 2px dashed #777;
    background-color: #ccc;*/
}

.choice span {
    display: inline-block;
    float: left;
    margin: 15px 0 0 15px;
    color: #ed1c24;
}

.choiceTitle {
    display: inline-block;
    margin: 16px 0 0 10px;
    width: 75px;
    font-size: 13px;
}

/*
    OVERRIDES
*/

#wrap header .nav {
    width: 100%;
    height: 38px;
    background: url(../images/nav-bg.png) 0 0 scroll no-repeat;
    background-position: 0 -36px ;
}