/*
    PAGE FLOW
*/

.videos {
    width: 666px;
    position: relative;
    /*z-index: 20;*/
}

.videoContainer {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 6px;
    float: left;
    
    border: 1px solid white;
    
/*    border: 2px solid white;
    background-color: #ccc;*/
}

.videoContainer.empty {
    border: 1px dashed #999;
}

.videoContainer:hover {
    border: 1px solid #ccc;
}

/* first element in every row */
.videoContainer:nth-child(4n - 3) {
    margin-left: 0;
}

/* last element in every row */
.videoContainer:nth-child(4n) {
    margin-right: 0;
}

.video {
    width: 150px;
    height: 150px;
    position: relative;
    top:0;
    left: 0;
    z-index: 10;
}

.videoLink {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /*background-color: red;*/
}

.videoThumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
}

.videoTile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.videoTile,
.videoThumb {
    transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -moz-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -webkit-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -o-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
}

.choices {
    position: relative;
    width: 168px;
    float: right;   
    margin: -2303px -213px 0 0;
    padding: 5px;
    /*z-index: 10;*/
    /*background-color: #e3e3e3;*/
}

.choices h2 {
    font-size: 13px;
    color: #ed1c24;
    font-weight: 800; 
    text-transform: uppercase;
/*     text-align: center; */
    margin: 4px auto;
}

.choice {
    position: relative;
    display: block;
    width: 164px;
    /*height: 42px;*/
    padding: 4px 0;
    border-bottom: 1px solid #b9b9b9;
}

#ten {
	border-bottom: none;
	margin-bottom: 6px; 
}

.choice:last-child {
    border-bottom: none;
}

/*
    TODO still fucking with z-index to make my elements pop over others
*/

.choiceDropContainer {
    float: left;
    width: 42px;
    height: 42px
}

.choiceDrop {
    position: relative;
    /*float: left;*/
    width: 40px;
    height: 40px;
    
/*    border: 1px dashed #999;
    background-color: #ccc;*/
}

.filled {
    border: 1px solid white;
}

.choice span {
    display: inline-block;
    float: left;
    margin: 15px 0 0 15px;
    color: #ed1c24;
}

.choiceTitle {
    display: table;
/*    margin: 0 0 0 10px;*/
    padding-left: 10px;
    width: 75px;
    height: 42px;
    font-size: 11px;
}

.choiceTitle p {
    /*display: table-cell;*/
    vertical-align: middle;
    display: table-cell;
    font-family: 'Helvetica';
    font-size: 12px; 
    /*margin: 0 0 0 15px;*/
/*    color: #ed1c24;*/
}

.choiceDrop,
.choiceTitle p,
.choice span {
    z-index: 10;
    position: relative;
}

/*
    OVERRIDES
*/

#wrap header .nav {
    width: 100%;
    height: 38px;
    background: url(../images/nav-bg.png) 0 0 scroll no-repeat;
    background-position: 0 -36px ;
}

.choicesForm { 
	background: none; 
	margin: 0px 0px;
	padding: 0px 0px; 	
}

.choicesForm textarea {
	color: #000000;
	height: 40px; 
	resize: none; 
	width: 159px;
 
}

#submit_select {
	/* 	width: 95px; */
    background-color: #8d8f93;
    padding: 4px 10px;
    margin: 2px 0 0 43px;
    width: 103px; 
}

#submit_select a {
	color: white;
	font-size: 10px; 
	text-decoration: none;
}