/*
    PAGE FLOW
*/

.videos {
    width: 700px;
    position: relative;
    z-index: 20;
}

.videoContainer {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 6px;
    float: left;
    
    border: 2px solid white;
    background-color: #ccc;
}

.videoContainer:hover {
    border: 2px solid #ccc;
}

/* first element in every row */
.videoContainer:nth-child(4n - 3) {
    margin-left: 0;
}

/* last element in every row */
.videoContainer:nth-child(4n) {
    margin-right: 0;
}

.empty {
    border: 2px dashed #666;
    background-color: #888;
}

.video {
    width: 150px;
    height: 150px;
    position: relative;
    top:0;
    left: 0;
}

.videoThumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0;
}

.videoTile {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.videoTile,
.videoThumb {
    transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -moz-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -webkit-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
    -o-transition: top 0.2s linear, left 0.2s linear, width 0.2s linear, height 0.2s linear, opacity 0.2s linear;
}

.choices {
    position: fixed;
    display: block;
    width: 300px;
    top: 15px;
    right: 15px;
    z-index: 10;
}

.choice {
    position: relative;
    display: block;
    width: 300px;
    height: 75px;
    background-color: #fbfbfb;
    margin: 15px 0;

}

.choiceDrop {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border: 2px dashed #777;
    background-color: #ccc;
}
/*
.choiceDrop .video {
    top: 0;
    left: 0;
}*/

.choice span {
    display: inline-block;
    float: left;
}

/*
    OVERRIDES
*/

#wrap header .nav {
    width: 100%;
    height: 38px;
    background: url(../images/nav-bg.png) 0 0 scroll no-repeat;
    background-position: 0 -36px ;
}