body {
    background-color: #ccc;
}

#wrap {
    position: relative;
    width: 1024px;
    
    border: 1px dotted red;
}

.video {
    width: 180px;
    height: 180px;
    margin: 18px;
    position: relative;
    float: left;
    z-index: 10;
    list-style-type: none;
}

#choices {
    position: fixed;
    top: 18px;
    right: 18px;
    background-color: #444;
    width: 216px;
    height: 1998px;
    padding: 10px;
    z-index: 5;
}

.emailLink {
    /*display: none;*/
}

/*
    LOGIN
*/

#login {
    position: absolute;
    width: 500px;
    height:250px;
    top: 100px;
    left: 100px;
    background-color: white;
    color: black;
    border: 1px solid #333;
    z-index: 15;
    
    /*display: none;*/
}

/*
    UTILITY
*/

.clear {
    clear: both;
}

