ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div {
    border: 1px dotted red;
}

#wrap {
    width: 1024px;
    position: relative;
    margin: 0 auto;
}

.videos {
    width: 700px;
    position: relative;
    float: left;
}

.video {
    width: 160px;
    height: 160px;
    margin: 10px;
    float: left;
    border: 2px solid #fbfbfb;
    z-index: 10;
}

.video:hover {
    border: 2px solid #ccc;
}

.video li img {
    width: 160px;
}

.choices {
    width: 300px;
    position: relative;
    float: right;
}

.choice {
    width: 300px;
    height: 75px;
    background-color: #888;
    margin: 10px 0;
}

.choice li {
    display: block;
    width: 60px;
    height: 60px;
    border: 2px dashed #444;
}

.clear {
    clear: both;
}